<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-spinner></ion-spinner>

    <ion-spinner name="lines"></ion-spinner>
    <!-- Crescent -->
    <ion-spinner name="crescent"></ion-spinner>

    <!-- Paused Default Spinner -->
    <ion-spinner name="lines-small"></ion-spinner>
    <div class="container">
        <ion-skeleton-text animated style="height: 65%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 58%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 70%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 40%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 75%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="height: 65%;"></ion-skeleton-text>
    </div>

</ion-content>